<html>
<head>
    <title>LunchSwap 😋</title>
</head>
<body>
<h2>Week #weekNumber# - Lunch overview 📝</h2>
<a href="index.php">Click here to go back</a><br/><br/>

<table border='1'>
    <tr>
        <th>Name</th>
        <th>Lunch</th>
        <th>Allergy</th>
        <th>Day</th>
    </tr>

    #%Lunches%#
    <tr>
        <td>#Name#</td>
        <td>#Lunch#</td>
        <td>#Allergy#</td>
        <td>#Day#</td>
    </tr>
    #%/Lunches%#

    This kick ass tool is made by
    #%Authors%#
        #Name#<br />
    #%/Authors%#

</table>
</body>
</html>
